{% extends 'template.html.twig' %}


{% block body %}
<table class="table">
    {% for note in notes %}
        <tr>
            <td>{{ note }}</td>
        </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <p>le nombre de notes : {{ notes | length }}</p>
    <p>la maximal note : {{ max(notes) }}</p>
    <p>la minimal note : {{ min(notes) }}</p>
</div>
{% endblock %}
