{% extends 'template.html.twig' %}

{% block title %}
    Todo
{% endblock %}

{% block pageTitle %}
<h1>La liste des todos</h1>
{% endblock %}

{% block body %}
<ol class="list-group">
    {% for cle,element in app.session.get('todo') %}
        <li class="list-group-item">
            {{ cle }} : {{ element }}
        </li>
    {% endfor %}
</ol>
{% endblock %}